$primary-color: #00A1D1;
$secondary-color: #4A4A4A;


* {
  box-sizing: border-box;
  
}

body {
  background-color: $secondary-color;
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  } 
}

nav {
  width: 100vw;
  background-color: $primary-color;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;

  li {
    display: none;
  }
}




